@model Projeto_ESFase2.Models.User

<style>
    a{
        color: white;
    }
    h1 {
        color: white;
    }
    label {
        color:white;
    }
     .button {
            display: inline-block;
        padding: 10px 20px;
        background-color: #74787a;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 30px;
        }

    .button:hover {
        background-color: #494b4d;
        color: #ffffff
    }

        
</style>




<div class="loginbox">
    <br/>
    <h1 style="text-align: center;">Login </h1>
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="width: 325%;">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group" style="width: 325%;">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input type="submit" value="Login" class="button"/>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
