@model Projeto_ESFase2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "ViewCompetition";
    var URLId = ViewContext.RouteData.Values["id"];
}

<h1>View Nominee</h1>

<h2>View Competition: @Model.CompetitionName </h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Competition" asp-action="VoteNominee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CompetitionId" />
            
            <span asp-validation-for="CompetitionId" class="text-danger"></span>
             <br>
            <input asp-for="CompetitionName" />
            <span asp-validation-for="CompetitionName" class="text-danger"></span>
            <br>
            <div class="form-group">
                <label asp-for="SelectedNomineeIds" class="control-label">All Nominees of this Competition</label>
                <select asp-for="SelectedNomineeIds" class="form-control" ></select>
                <span asp-validation-for="SelectedNomineeIds" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AvailableCompNom" class="control-label">Select CompNom:</label>
                <select asp-for="AvailableCompNom" asp-items="@Model.AvailableCompNom.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Name })" class="form-control"></select>
                <span asp-validation-for="AvailableCompNom" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AvailableNominees" class="control-label">Select Course:</label>
                <select asp-for="AvailableNominees" asp-items="@Model.AvailableNominees.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Name })" class="form-control"></select>
                <span asp-validation-for="AvailableNominees" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Vote Nominee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}