@model Projeto_ESFase2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "ViewCompetition";
    var URLId = ViewContext.RouteData.Values["id"];
}

<h1>View Nominee</h1>

<h2>View Competition: @Model.CompetitionName </h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Competition" asp-action="VoteNominee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompetitionId" />

            <span asp-validation-for="CompetitionId" class="text-danger"></span>
             <br>
            <input type="hidden" asp-for="CompetitionName" />
            <span asp-validation-for="CompetitionName" class="text-danger"></span>
            <br>
            <div class="form-group">
            @foreach (var item in Model.AvailableCompNom)
            {
                    <div>
                        <input type="radio" asp-for="SelectedNominee" name="SelectedNominee" value="@item.Id" /> @item.Name
                        <span asp-validation-for="SelectedNominee" class="text-danger"></span>
                    </div>
            }
            </div>
            <input type="hidden" asp-for="AvailableCompNom" />
            <span asp-validation-for="AvailableCompNom" class="text-danger"></span>


            <div class="form-group">
                <input type="submit" value="Vote Nominee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}