@model Projeto_ESFase2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "VoteNominee";
    Layout = "_UserAuthenticated";
}

@ViewData["Error"]
<h1>VoteNominee</h1>
<a asp-controller="Competition" asp-action="Index"></a>

