@model Projeto_ESFase2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "VoteNominee";
    Layout = "_UserAuthenticated";
}


<h1><b>VoteNominee</b></h1>

@ViewData["Error"]

<a asp-controller="Competition" asp-action="Index"></a>

